{% extends 'base.html.twig' %}

{% block title %}LifestyleProfile index{% endblock %}

{% block body %}
    <h1>LifestyleProfile index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nutrition</th>
                <th>Physical_activity</th>
                <th>Preventive_behavior</th>
                <th>Relationships</th>
                <th>Stress_management</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lifestyle_profile in lifestyle_profiles %}
            <tr>
                <td>{{ lifestyle_profile.id }}</td>
                <td>{{ lifestyle_profile.nutrition }}</td>
                <td>{{ lifestyle_profile.physical_activity }}</td>
                <td>{{ lifestyle_profile.preventive_behavior }}</td>
                <td>{{ lifestyle_profile.relationships }}</td>
                <td>{{ lifestyle_profile.stress_management }}</td>
                <td>
                    <a href="{{ path('lifestyle_profile_show', {'id': lifestyle_profile.id}) }}">show</a>
                    <a href="{{ path('lifestyle_profile_edit', {'id': lifestyle_profile.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('lifestyle_profile_new') }}">Create new</a>
{% endblock %}